<igx-grid [data]="demoDataSourceCustomersDemoList" primaryKey="CustomerID" displayDensity="cosy" class="grid">
  <igx-column header="CustomerID" field="CustomerID" dataType="string" [sortable]="true" title="CustomerID"></igx-column>
  <igx-column header="CompanyName" field="CompanyName" dataType="string" [sortable]="true" title="CompanyName"></igx-column>
  <igx-column header="ContactName" field="ContactName" dataType="string" [sortable]="true" title="ContactName"></igx-column>
  <igx-column header="ContactTitle" field="ContactTitle" dataType="string" [sortable]="true" title="ContactTitle"></igx-column>
  <igx-column header="Address" field="Address" dataType="string" [sortable]="true" title="Address"></igx-column>
  <igx-column header="City" field="City" dataType="string" [sortable]="true" title="City"></igx-column>
  <igx-column header="Region" field="Region" dataType="string" [sortable]="true" title="Region"></igx-column>
  <igx-column header="Country" field="Country" dataType="string" [sortable]="true" title="Country"></igx-column>
  <igx-column header="Phone" field="Phone" dataType="string" [sortable]="true" title="Phone"></igx-column>
  <igx-column header="Fax" field="Fax" dataType="string" [sortable]="true" title="Fax"></igx-column>
</igx-grid>
